html {
    scroll-behavior: smooth;
}

/* "Apresentação" do Unisin */
.containerApresentacao {
    margin: 6rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.divTituloApresentacao>h1 {
    font-size: 3.2rem;
    color: #05162c;
    margin-bottom: 0.6rem;
}

.divTituloApresentacao>p {
    font-size: 1.14rem;
    color: #54657a;
    text-align: center;
}

.divCardsApresentacao {
    display: flex;
    gap: 1.5rem;
}

.cardApresentacao {
    position: relative;
    width: 18.875rem;
    height: 18.875rem;
    border-radius: 2rem;
    overflow: hidden;
}

.cardApresentacao::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #05162cd9, #05162c33, transparent);
    opacity: 1;
    pointer-events: none;
}

.cardApresentacao>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.7s ease;
}
.cardApresentacao:hover>img {
    transform: scale(1.1);
}

.cardApresentacao>h2 {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 1;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 700;
}